{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
<div class="container">
    <!-- Hero Section -->
    <div class="hero-section">
        <div class="content">
            <img src="{{ url_for('static', filename='images/nature.jpg') }}" alt="Nature" class="profile-image" width="300" height="200">
            <div class="text">
                <h1>Hello my name is Parth</h1>
                <p>Welcome to my personal website!</p>
                <p>Explore to learn more about me!</p>
                <!-- Scroll Button -->
                <button class="scroll-button pill-button" onclick="scrollToNextSection()">Learn More</button>
            </div>
        </div>
    </div>
    <!-- Rest of the sections -->
    <div class="section" id="bio">
        <h2>Bio</h2>
        <p> NAME : Parth Jain</p>
        <p> AGE : 19</p>
        <p> LOCATION : Cupertino</p>
    </div>

    <div class="section" id="education">
        <h2>Education</h2>
        <p>Currently pursuing a Bachelor's degree in Computer Science at UCMerced.</p>
    </div>

    <div class="section" id="skills">
        <h2>Skills</h2>
        <ul>
            <li>Python</li>
            <li>JavaScript</li>
            <li>HTML & CSS</li>
        </ul>
    </div>

    <div class="section" id="experience">
        <h2>Experience</h2>
        <p>Intern at XYZ Company, where I worked on web development and data analysis projects.</p>
    </div>

    <div class="section" id="interests">
        <h2>Interests</h2>
        <p>I enjoy coding, and exploring new technologies.</p>
    </div>

    <div class="section" id="projects">
        <h2>Projects</h2>
        <ul>
            <li><strong>Project 1:</strong> Recall Royale</li>
            <li><strong>Project 2:</strong> Credit Compass</li>
            <li><strong>Project 3:</strong> Personal Website</li>
        </ul>
    </div>

    <div class="section" id="information">
        <h2>Information</h2>
        <p>Here you can find updates and insights about my work and interests.</p>
    </div>

    <div class="section" id="contact">
        <h2>Contact</h2>
        <p>Email: <a href="{{ url_for('contact') }}">parthgmjain@gmail.com</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/parth-jain05/" target="_blank">My LinkedIn</a></p>
        <p>GitHub: <a href="https://github.com/parthgmjain" target="_blank">My GitHub</a></p>
    </div>
</div>

<script>
    function scrollToNextSection() {
        // Get the current hero section
        const heroSection = document.querySelector('.hero-section');

        // Get the next sibling section
        const nextSection = heroSection.nextElementSibling;

        // Scroll to the next section with smooth behavior
        if (nextSection) {
            nextSection.scrollIntoView({ behavior: 'smooth' });
        }
    }
</script>

{% endblock %}